@media(max-width:1140px){
    .header-main{
        width: 100%;
    }
}
@media(max-width:1100px){
    .main-box-cards{
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }
}
@media(max-width:990px){
    .main-box{
        flex-wrap: wrap;
        text-align: justify;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
}
@media(max-width:750px){
    .main-box-third{
        flex-direction: column;
    }
}
@media(max-width:700px){
    .header-nav-box{
        flex-direction: column;
        height: 110px;
    }
    .search-input,
    .button{
        margin-bottom: 10px;
    }
}
@media(max-width:550px){
    .main-box-left{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .main-title{
        font-size: 55px;
    }
    .main-text{
        font-size: 25px;
    }
    .main-button{
        width: 175px;
        height: 45px;
    }
    .title{
        font-size: 25px;
    }
    .main-box-second{
        font-size: 30px;
    }
    .main-box-card a{
        font-size: 19px;
    }
    .main-box-left-title2{
        font-size: 30px;
    }
    .main-box-left-text2{
        font-size: 15px;
    }
    .main-box-right2{
        font-size: 20px;
    }
    .main-box-right-text-2{
        font-size: 20px;
    }
    .footer-links{
        font-size: 14px;
    }
    .footer-text{
        font-size: 13px;
    }
    .footer-text2{
        font-size: 13px;
    }
}
@media(max-width:350px){
    .main-title{
        font-size: 55px;
    }
    .main-text{
        font-size: 25px;
    }
    .main-button{
        width: 175px;
        height: 45px;
    }
    .title{
        font-size: 25px;
    }
    .main-box-second{
        font-size: 30px;
    }
    .main-box-card a{
        font-size: 19px;
    }
    .main-box-left-title2{
        font-size: 30px;
    }
    .main-box-left-text2{
        font-size: 15px;
    }
    .main-box-right2{
        font-size: 20px;
    }
    .main-box-right-text-2{
        font-size: 20px;
    }
}